In [1]:
import pandas as pd

In [7]:
data = pd.read_csv('./wfp_food_prices_col.csv')
dataLimpia = pd.read_csv('./wfp_food_prices_col_limpio.csv')

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39771 entries, 0 to 39770
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       39771 non-null  object
 1   admin1     39771 non-null  object
 2   admin2     39771 non-null  object
 3   market     39771 non-null  object
 4   latitude   39771 non-null  object
 5   longitude  39771 non-null  object
 6   category   39771 non-null  object
 7   commodity  39771 non-null  object
 8   unit       39771 non-null  object
 9   priceflag  39771 non-null  object
 10  pricetype  39771 non-null  object
 11  currency   39771 non-null  object
 12  price      39771 non-null  object
 13  usdprice   39771 non-null  object
dtypes: object(14)
memory usage: 4.2+ MB

In [9]:
dataLimpia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39206 entries, 0 to 39205
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       39206 non-null  object
 1   admin1     39206 non-null  object
 2   admin2     39206 non-null  object
 3   market     39206 non-null  object
 4   latitude   39206 non-null  float64
 5   longitude  39206 non-null  float64
 6   category   39206 non-null  object
 7   commodity  39206 non-null  object
 8   unit       39206 non-null  object
 9   priceflag  39206 non-null  object
 10  pricetype  39206 non-null  object
 11  currency   39206 non-null  object
 12  price      39206 non-null  float64
 13  usdprice   39206 non-null  float64
dtypes: float64(4), object(10)
memory usage: 4.2+ MB

In [6]:
data.describe()

,date,admin1,admin2,market,latitude,longitude,category,commodity,unit,priceflag,pricetype,currency,price,usdprice
count,39771,39771,39771,39771,39771,39771,39771,39771,39771,39771,39771,39771,39771,39771
unique,300,23,28,28,28,28,9,87,11,4,3,2,29889,22040
top,2020-04-15,"Bogotá, D.c.","Bogotá, D.c.",Bogota,4.6,-74.083333,vegetables and fruits,Wheat flour,KG,aggregate,Wholesale,COP,2000.0,0.3764
freq,601,5231,5231,5231,5231,5231,14058,1461,36328,29722,39708,39770,258,14

In [31]:
data

,date,admin1,admin2,market,latitude,longitude,category,commodity,unit,priceflag,pricetype,currency,price,usdprice
0,#date,#adm1+name,#adm2+name,#loc+market+name,#geo+lat,#geo+lon,#item+type,#item+name,#item+unit,#item+price+flag,#item+price+type,#currency,#value,#value+usd
1,2000-01-15,Antioquia,Medellín,Medellin,6.291389,-75.536111,cereals and tubers,Maize (yellow),KG,actual,Wholesale,COP,430.63,0.2239
2,2000-01-15,Atlántico,"Distrito Especial, Industrial Y Portuario De B...",Barranquilla,10.963889,-74.796389,cereals and tubers,Rice (high quality),KG,actual,Wholesale,COP,847.69,0.4407
3,2000-01-15,Atlántico,"Distrito Especial, Industrial Y Portuario De B...",Barranquilla,10.963889,-74.796389,cereals and tubers,Wheat flour,KG,actual,Wholesale,COP,640.69,0.3331
4,2000-01-15,"Bogotá, D.c.","Bogotá, D.c.",Bogota,4.6,-74.083333,cereals and tubers,Maize (yellow),KG,actual,Wholesale,COP,531.3,0.2762
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39766,2024-11-15,Valle Del Cauca,Tuluá,Tulua,4.085261239,-76.19769968,vegetables and fruits,Passion fruit,KG,aggregate,Wholesale,COP,4273.13,0.9626
39767,2024-11-15,Valle Del Cauca,Tuluá,Tulua,4.085261239,-76.19769968,vegetables and fruits,Peppers (red),KG,aggregate,Wholesale,COP,3806.63,0.8575
39768,2024-11-15,Valle Del Cauca,Tuluá,Tulua,4.085261239,-76.19769968,vegetables and fruits,Plantains,KG,aggregate,Wholesale,COP,3248.79,0.7319
39769,2024-11-15,Valle Del Cauca,Tuluá,Tulua,4.085261239,-76.19769968,vegetables and fruits,Pumpkin,KG,aggregate,Wholesale,COP,1016.5,0.229
39770,2024-11-15,Valle Del Cauca,Tuluá,Tulua,4.085261239,-76.19769968,vegetables and fruits,Tomatoes (local),KG,aggregate,Wholesale,COP,3274.0,0.7375

In [ ]:
data_util = data[["usdprice", "commodity", "date", "unit"]]
data_util.to_csv('./wfp_food_prices_col_.csv', index=False)

'999.3296'